.App {
  font-family: sans-serif;
  padding: 16px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.Crop-Controls {
  margin-bottom: 10px;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}

img {
  max-width: 100%;
}
